# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/../../../../../../../:\Users\Legion\IdeaProjects\Udemy Course\React and javascript course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/